<% if @genres.present? %>
    <% @genres.each do |genre| %>
        <p>インストラクター：</p><%= link_to "#{genre.genre}   #{genre.instructor.name}", "/" %></br>
        <%= link_to "レッスンを申し込む", "#" %>
    <% end %>
<% else %>
    <p>検索結果がありません</p>
<% end %>