<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <% if @bookings.blank? %>
                <h2 class="text-center">まだあなたのレッスンに申し込みしたお客様はいません</h2>
            <% else %>
                <h3>あなたのレッスンに申し込みしたお客様一覧</h3>
                <% @bookings.each do |booking| %>
                    <p><%= link_to "#{booking.user.name}", "/users/#{booking.user.id}", method: :get %></p>
                <% end %>
            <% end %>
        </div>
    </div>
</div>