
<div class="abouts">
  <div class="container">
    <div class="about-title">
      自分に合ったインストラクターを見つけてスキースキルを伸ばそう！
    </div>
    <div class="about-text">
      <h2>こんな悩みはありませんか？</h2>
      <div class="user-text">
        <h2>レッスンを受けたい</h2>
          <p>✔︎ スキースクールだと集団レッスンで待っている時間の方が長い</p>
          <p>✔︎ スキースクールだと、インストラクターはランダム</p>
          <p>✔︎ スキースクールのマンツーマンレッスンだとレッスン料が高額</p>
      </div>
      <div class="instructor-text">
        <h2>教えたい</h2>
          <p>✔︎ スキースキルはすごい高いけど、人の教えるタイミングがない</p>
          <p>✔︎ 好きなスキーで少しでも稼ぎたい</p>
          <p>✔︎ 指導員の資格は持っているが、スクールに所属していない</p>
      </div>
    </div>
  </div>
</div>