<h2 class="text-center">こんな悩みはありませんか？</h2>

<div class="container">
  <div class="row">
    <div class="contents">
      <div class="content">
        <p>スキー場のスキースクールだとどんな人がレッスンするか分からない</p>
      </div>
      <div class="content">
        <p>スキー場のスキースクールだとレッスン料が高額</p>
      </div>
      <div class="content">
        <p>自分のレベルが周りのレベルに合わないかもしれない</p>
      </div>
      <div class="content">
        <p>自分で時間を指定できない</p>
      </div>
    </div>
  </div>
  
  <h2 class="text-center">こんな悩みをSnow Lessonは解決します！</h2>
  
</div>