<header class = "navbar navbar-fixed-top navbar-inverse">   <!--navbar-inverseで背景色黒, navbar-fixed-topでheaderを固定-->
      <div class="container">
          <%= link_to "Snow Lesson", "/", id: "header-logo" %>
        
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "TOP", "/" %></li>
            <li><%= link_to "SnowLessonとは？", "/about" %></li>
            <li><%= link_to "ご利用方法", "/guide" %></li>
        </nav>
        
      </div>
    </header>